parameters:
	level: 8

	treatPhpDocTypesAsCertain: false

	paths:
		- src/

	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php

	excludePaths:
		- %rootDir%/../../../src/Console/Installer.php

	ignoreErrors:
		- identifier: missingType.generics
