parameters:
    level: 8
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
